body {
  display: flex; /* Flexbox를 활성화합니다. */
  height: 100vh; /* 높이를 뷰포트의 100%로 설정합니다. */
  margin: 0; /* 바디의 마진을 0으로 설정합니다. */
  align-items: stretch; /* Flex 아이템들이 컨테이너를 꽉 채우도록 합니다. */
}

.login-container {
  margin: 4rem auto 0 auto;
  display: flex;
  width: fit-content;
  height: 45%;
  padding: 2rem;
  border: 1px solid #d9d9d9;
  margin-top: 13.5%;
}

.other-container {
  margin: 8% auto 0px 0px;
}

.loginInput-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  padding: 0.7%;
  border-radius: 10px;
  width: 360px;
  max-height: 85px;
}

.input-wrap span {
  font-size: 11.5px;
  color: #9f9f9e;
}

.loginInput-wrap span {
  font-size: 11.5px;
  color: #9f9f9e;
}

.loginInput-wrap input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

#gif-box {
  display: inline-block;
}

#button_margin {
  display: flex;
}

#login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 2rem;
}

.login-btn {
  margin-bottom: 0px;
}

a {
  text-decoration-line: none;
  display: block;
  margin-top: -5%;
  /* text-align: center; */
  /*   text-decoration-line: underline; */
  /*   text-decoration-line: overline; */
  /*   text-decoration-line: line-through; */
  /*   text-decoration-line: underline line-through overline; */
}
