
#project-regist{
  width: 90%;
  margin: 0 auto;
  padding: 2rem 4rem;
}

#project-regist .guide-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3rem;
}

#project-regist .form-title{
  color: #D64553;
  font-size: 20px;
  font-weight: bold;
}

#project-regist .input-wrap{
  display: flex;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  padding: .6rem;
  margin-top: 1rem;
  border-radius: 10px;
}

#project-regist .input-wrap span{
  font-size: 15px;
  color: #9F9F9E;
  margin-bottom: .5rem;
}

#project-regist .input-wrap input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

#project-regist .input-wrap textarea{
  height: 380px;
  border: none;
  resize: none;
  outline: none;
  padding: .5rem;
  font-size: 18px;
}

#project-regist .btn-wrap{
  margin-top: 4rem;
}

#project-regist .btn-wrap .cancel-btn{
  border: 1px solid #D64553;
  border-radius: .4rem;
  color: #D64553;
}

#project-regist .btn-wrap .cancel-btn:hover{
  border: 1px solid #c75b66;
  background-color: #f1eaea;
  cursor: pointer;
}

#project-regist .btn-wrap .submit-btn{
  border: 1px solid #D64553;
  background-color: #D64553;
  border-radius: .4rem;
  color: #fff;
}

#project-regist .btn-wrap .submit-btn:hover{
  background-color: #a45e65;
  cursor: pointer;
}