<html lang="ko">

<head>
  <script type="module" src="/js/header.js" defer></script>
</head>
<div id="header">
  <div class="h-left">
    <span class="logo-title">
      <a href="/">SpartaFolio</a>
    </span>
  </div>
  <div class="h-right">

  </div>
</div>

</html>