<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparta Folio</title>
  <link rel="stylesheet" type="text/css" href="./css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="module" src="/js/index.js" defer></script>
  <script type="module" src="/js/login.js" defer></script>
  <script>
    $(document).ready(() => {
      $('header').load('./header.ejs');
    });
  </script>
</head>

<body>
  <header></header>
  <main>
    <section id="main-title">
      <div class="back"></div>
      <div class="content">
        <div class="title">
          좋아요 수 TOP 프로젝트 타이틀
        </div>
        <div class="sub-title">
          팀 이름
        </div>
        <div class="over-view">
          프로젝트 간략 소개 프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개
          프로젝트 간략 소개프로젝트 간략 소개 프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개프로젝트 간략 소개
        </div>
        <div class="go-project">
          <button>프로젝트 구경하기</button>
        </div>
      </div>
    </section>
    <section id="main-content">
      <nav>
        <ul>
          <li data-sort="latest">최신 순</li>
          <li data-sort="like">좋아요 순</li>
          <li data-sort="view">조회순</li>
        </ul>
        <input type="text" placeholder="키워드로 검색해주세요." class="search-input" />
      </nav>
      <div class="content">

      </div>
    </section>
  </main>
</body>

</html>